@import '../assets/sanitize.css';
@import './customMediaQueries.css';
@import './propertySets.css';
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* ================ Custom Properties aka CSS variables ================ */

/**
 * These variables are available in global scope through ":root"
 * element (<html> tag). You can use Custom Properties to achieve
 * more dynamic theming by changing the value on the fly with JS:
 * document.documentElement.style.setProperty("--marketplaceColor", '#55AA55');
 *
 * Read more about how to use CSS Custom Properties
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
 */

:root {
  /* ================ Colors ================ */

  --marketplaceColor: #308b97;
  --marketplacePrimaryColor: #69bac9;

  --marketplaceOrangeColor: #f8872b;
  --marketplaceSecondaryColor: #ef7b58;

  --marketplaceColorLight: #00bfe6;
  --marketplaceColorDark: #006a80;

  /* Used with inline CSS SVGs */
  --marketplaceColorEncoded: %230095b3;

  --successColor: #2ecc71;
  --successColorDark: #239954;
  --successColorLight: #f0fff6;
  --failColor: #ff0000;
  --failColorLight: #fff0f0;
  --attentionColor: #ffaa00;
  --attentionColorLight: #fff7f0;
  --bannedColorLight: var(--marketplaceColorLight);
  --bannedColorDark: var(--marketplaceColor);

  --matterColorDark: #121212;
  --matterColor: #595858;
  --matterColorBlack: #000000;
  --matterColorAnti: #b2b2b2;
  --matterColorNegative: #e7e7e7;
  --matterColorBright: #f5f5f5;
  --matterColorLight: #ffffff;
  --bannerColor: #f2e9e4;
  --matterColorSuccess: #14b474;
  --matterOrangeColor: #ff812a;

  --bannerLightPinkColor: #ffebe4;
  --bannerPinkColor: #ffbcc7;
  --bannerFontTitleColor: #606060;
  --bannerWithLumelaColor: #308b97;
  --inputColor: #383838;
  --addaListingColor: #797979;
  --footerBgColor: #393939;
  --authenticationPageColor: #fafafa;
  --bannerFontColor: #fcf6ec;
  --landingPagesTabColor: #2d2c2c;
  --landingPagesTabColorHover: #ef7b58;
  --landingPagesTabUnderLine: #dfdfdf;
  --dealsTextColor: #7c7c7c;
  --blogArticalColor: #414141;
  --blogTextColor: #373737;
  --blogSubTextColor: #676767;
  --blogPageTextColor: #101010;
  --blogDividerColor: #e2e2e2;
  --blogSmallTitleColor: #6b6b6b;
  --blogAdvertismentColor: #ffeece;

  --matterColorLightTransparent: rgba(255, 255, 255, 0.65);

  /* ================ Font ================ */
  --fontFamily: 'Montserrat', sans-serif;
  --fontFamily2: 'Dancing Script', cursive;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;
  --fontWeightExtraBold: 800;
  --fontWeightBlack: 900;

  --fontWeightHighlightEmail: var(--fontWeightBold);

  /* ================ Spacing unites ================ */

  /* Multiples of mobile and desktop spacing units should be used with margins and paddings. */
  --spacingUnit: 0.375rem;
  --spacingUnitDesktop: 0.5rem;

  /* Shadows */
  --boxShadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowTop: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  --boxShadowLight: 0px 4px 29px rgba(0, 0, 0, 0.07);
  --boxShadowPopup: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  --boxShadowPopupLight: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowBreakdown: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  --boxShadowButton: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  --boxShadowListingCard: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  --boxShadowNotFoundPageSearch: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  --boxShadowSectionLocationHover: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  --boxShadowBottomForm: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
  --boxShadowFilterButton: 0 4px 16px 0 rgba(0, 0, 0, 0.2);

  /* ================ Z-index base levels ================ */

  /* topbar is positioned slightly above content */
  --zIndexTopbar: 10;
  /* small popups on UI should use z-indexes above 50 */
  --zIndexPopup: 50;
  /* modals and UI overlays should use z-indexes above 100 */
  --zIndexModal: 100;
  /* generic error message should overlay even modals */
  --zIndexGenericError: 200;

  /* ================ Border radius ================ */

  --borderRadius: 0.625rem;
  --borderRadiusMobileSearch: 0.188rem;

  /* ================ Transition styles ================ */

  --transitionStyle: ease-in 0.2s;
  --transitionStyleButton: ease-in-out 0.1s;

  /* ================ Topbar related ================ */

  --topbarHeight: 4rem;
  --topbarHeightDesktop: 4rem;

  --TopbarMobileMenu_topMargin: 6rem;

  --Topbar_logoHeight: 1.625rem;
  --CheckoutPage_logoHeight: 1.625rem;
  --CheckoutPage_logoHeightDesktop: 1.688rem;

  --TopbarSearchForm_inputHeight: 3.313rem;
  --TopbarSearchForm_topbarMargin: 5.875rem;
  --TopbarSearchForm_bottomBorder: 0.188rem;

  /* ================ Modal default padding ================ */

  --modalPadding: 1.5rem 1.5rem 48px 1.5rem;
  --modalPaddingMedium: 3.438rem 3.75rem 3.438rem 3.75rem;

  /* ================ LocationAutocompleteInput bottom attribution padding ================ */

  /* Google Maps needs 4.5rem bottom padding to accommodate logo, Mapbox doesn't have one */
  --locationAutocompleteBottomPadding: 0.5rem;

  --LocationAutocompleteInput_inputHeight: 3.125rem;
  --LocationAutocompleteInput_sidePaddingDesktop: 36px;

  /* ================ Filters ================ */
  --marketplaceButtonSmallDesktopPadding: 0.563rem 1rem 0.563rem 1rem;

  /* ================ DateInput, DateRangeInput, DateRangeController ================ */
  --ReactDates_selectionHeight: 36px;
  --ReactDates_hoveredOverlayColor: rgba(255, 255, 255, 0.2);

  --DateInput_selectionHeight: var(--ReactDates_selectionHeight);
  --DateInput_hoveredOverlayColor: var(--ReactDates_hoveredOverlayColor);
  --DateRangeInput_selectionHeight: var(--ReactDates_selectionHeight);
  --DateRangeInput_hoveredOverlayColor: var(--ReactDates_hoveredOverlayColor);
  --DateRangeController_selectionHeight: var(--ReactDates_selectionHeight);
  /* ================ SectionHero ================ */

  --SectionHero_desktopTitleMaxWidth: 39.063rem;
  --SectionHero_desktopSubTitleMaxWidth: 16.938rem;
  --contentMaxWidth: 100%;
  --contentFixedWidth: 1250px;

  /* ================ TabNav ================ */
  --TabNav_linkWidth: 15rem;

  /* ================ LandingPage ================ */
  --LandingPage_sectionMarginTop: 2.5rem;
  --LandingPage_sectionMarginTopMedium: 3.75rem;
  --LandingPage_sectionMarginTopLarge: 2.813rem;

  /* ================ EditListingAvailabilityForm, ManageAvailabilityCalendar ================ */
  --ManageAvailabilityCalendar_gridColor: #e0e0e0;
  --ManageAvailabilityCalendar_availableColor: #ffffff;
  --ManageAvailabilityCalendar_availableColorHover: #fafafa;
  --ManageAvailabilityCalendar_blockedColor: #ebebeb;
  --ManageAvailabilityCalendar_blockedColorHover: #e6e6e6;
  --ManageAvailabilityCalendar_reservedColor: #e6fff0;
  --ManageAvailabilityCalendar_reservedColorHover: #e1faeb;
  --ManageAvailabilityCalendar_failedColor: #fff2f2;

  /* ================ ProfileSettingsForm ================ */
  --ProfileSettingsForm_avatarSize: 6rem;
  --ProfileSettingsForm_avatarSizeDesktop: 15rem;
}

/* ================ Global element styles ================ */
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  -moz-osx-font-smoothing: grayscale;
  /* http://szafranek.net/blog/2009/02/22/font-smoothing-explained/ */
  text-rendering: optimizeSpeed;

  background-color: var(--matterColorBright);
  height: 100%;
}

::selection {
  background: var(--marketplaceColor);
  /* WebKit/Blink Browsers */
  color: var(--matterColorLight);
}

::-moz-selection {
  background: var(--marketplaceColor);
  /* Gecko Browsers */
  color: var(--matterColorLight);
}

a {
  @apply --marketplaceLinkStyles;
}

h1 {
  @apply --marketplaceH1FontStyles;
}

h2 {
  @apply --marketplaceH2FontStyles;
}

h3 {
  @apply --marketplaceH3FontStyles;
}

h4 {
  @apply --marketplaceH4FontStyles;
}

h5 {
  @apply --marketplaceH5FontStyles;
}

h6 {
  @apply --marketplaceH6FontStyles;
}

li {
  @apply --marketplaceDefaultFontStyles;
}

p,
pre {
  @apply --marketplaceBodyFontStyles;
}

/* ================ Normalisations ================ */

html {
  @apply --marketplaceDefaultFontStyles;
  color: var(--matterColor);
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
}

legend,
label {
  @apply --marketplaceH5FontStyles;
  font-weight: var(--fontWeightSemiBold);
  display: block;
  margin-top: 0;
  margin-bottom: 0;

  @media (--viewportMedium) {
    font-weight: var(--fontWeightSemiBold);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.375rem;
    padding-bottom: 0.125rem;
  }
}

button {
  font-family: var(--fontFamily);
}

select {
  @apply --marketplaceSelectStyles;
  @apply --marketplaceInputFontStyles;
}

input {
  @apply --marketplaceInputStyles;
  @apply --marketplaceInputFontStyles;
}

textarea {
  @apply --marketplaceInputStyles;
  @apply --marketplaceInputFontStyles;
  border: 1px solid #b9b9b9;

  /* Todo: All textareas are using auto-sizing extension which currently calculates required space incorrectly when box-sixing is "border-box" */
  box-sizing: content-box;
  padding: 0 0 0.625rem 0;

  &::placeholder {
    padding: 0 0 0.625rem 0;
  }

  @media (--viewportMedium) {
    padding: 0.25rem 0 0.625rem 0;
  }
}

.fontsLoaded {
  & body {
    font-family: var(--fontFamily);
    background-color: var(--matterColorBright);
  }

  & button {
    font-family: var(--fontFamily);
  }
}
