@import '../../styles/customMediaQueries.css';
@import '../../styles/propertySets.css';

.root {}

.content {
  width: calc(100% - 3rem);
  margin: 0.75rem 1.5rem 1.5rem 1.5rem;

  @media (--viewportMedium) {
    max-width: 35.313rem;
    margin: 3.438rem auto;
  }
}

.headingContainer {
  display: flex;
  flex-direction: row;
}

.heading {
  margin-right: 1.5rem;
  hyphens: auto;
}

.profileLink {
  @apply --marketplaceButtonStylesSecondary;
  @apply --marketplaceH5FontStyles;

  display: inline-block;
  width: auto;
  margin: 1.188rem 0 0 auto;
  padding: 0.75rem 1rem 0.313rem 1rem;

  @media (--viewportMedium) {
    margin: 2.313rem 0 0 auto;
  }
}

.topbarHeader {
  background-color: var(--matterColorLight);
  box-shadow: 0px 0px 0.188rem rgb(0 0 0 / 29%);

  &.stickyNavbar {
    background-color: #fff !important;
    box-shadow: 0px 0px 0.188rem rgb(0 0 0 / 29%) !important;
  }

  &.landingPageHeader {
    background-color: transparent;
    box-shadow: none;

    &.stickyNavbar {
      background-color: #fff !important;
      box-shadow: 0px 0px 0.188rem rgb(0 0 0 / 29%) !important;
    }
  }
}

.desktopTopbar,
.mobileTopbar {
  box-shadow: none;
}

.layoutWrappermain {
  padding: 3rem 3rem 6rem;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: var(--marketplaceSecondaryColor);
  }

  & .content {
    width: 100%;
    margin: 0;
    max-width: 100%;

    & .profileSettingWrap {
      position: relative;
    }

    & .profileMainForm {
      box-shadow: 0px -0.25rem 1rem rgba(89, 88, 88, 0.25);
      background-color: var(--matterColorLight);
      border-radius: 0.625rem;
      max-width: 35.875rem;
      width: 100%;
      margin: 5rem auto;
      text-align: center;
      padding: 6.5rem 3rem 2rem 3rem;
      position: relative;

      & .profileImage {
        position: absolute;
        margin: auto;
        top: -5rem;
        right: 0;
        left: 0;
        width: 11rem;
        height: 11rem;
        border-radius: 100%;
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        box-shadow: 0px -0.25rem 1rem rgba(89, 88, 88, 0.25);
        overflow: hidden;
        background-color: #ECEEF2;

        & img {
          max-width: 100%;
        }
      }

      & .profileFormDetails {
        margin-top: 1rem;

        & h3 {
          font-weight: var(--fontWeightBold);
          font-size: 1.5rem;
          line-height: 1.813rem;
          color: var(--matterColorDark);
          margin: 0;
          margin-bottom: 1.5rem;
        }

        & .detailWrapBox {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 1rem;

          &:last-child {
            padding-bottom: 0;
          }

          & .profileHeadingDetails {
            font-weight: var(--fontWeightBold);
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #595858;

            & span {
              font-weight: var(--fontWeightMedium);
            }
          }

          & .profileVeryfyActionDetails {
            font-weight: var(--fontWeightBold);
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #AA0000;
            cursor: pointer;

            &:hover {
              color: var(--marketplaceSecondaryColor);
            }
          }

          & .profileUpdateActionDetails {
            font-weight: var(--fontWeightBold);
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #308B97;
            cursor: pointer;

            &:hover {
              color: var(--marketplaceSecondaryColor);
            }
          }

          & .passwordChangeLink {
            font-weight: var(--fontWeightBold);
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #308B97;
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
              text-decoration: none;
              color: var(--marketplaceSecondaryColor);
            }

            & span {
              padding-right: 0.625rem;

              &:last-child {
                padding-right: 0;
              }
            }
          }

          & .editButtonLink {
            & button {
              background-color: var(--marketplaceColor);
              border-color: var(--marketplaceColor);
              border-radius: 0.625rem;
              color: var(--matterColorLight);
              padding: 0.625rem 32px;

              &:hover {
                background-color: var(--marketplaceSecondaryColor);
                border-color: var(--marketplaceSecondaryColor);
                color: var(--matterColorLight);
              }
            }
          }
        }
      }
    }

    & .addressUpdateWrap {
      margin-top: 98px;
      & .addressHeading {
        display: flex;
        align-items: center;
        padding-bottom: 1.5rem;

        & span {
          font-weight: var(--fontWeightBold);
          font-size: 1.5rem;
          line-height: 1.813rem;
          padding-right: 0.625rem;
          color: var(--matterColorDark);
        }
      }

      & .updatedAddress {
        background: #FFFFFF;
        box-shadow: 0px 0px 1rem rgba(89, 88, 88, 0.25);
        padding: 1.5rem;

        & .blankAddress {
          display: flex;
          align-items: center;
          justify-content: space-between;

          & .noAddressFound {
            font-weight: var(--fontWeightMedium);
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: var(--matterColorDark);
          }

          & .updateAddress {
            font-weight: var(--fontWeightBold);
            font-size: 1.125rem;
            line-height: 1.375rem;
            text-transform: uppercase;
            color: var(--marketplaceColor);
            cursor: pointer;

            &:hover {
              color: var(--marketplaceSecondaryColor);
            }

          & .updateAddressLink{
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #308B97;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
}

.passwordChange {}
