.layout {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.topbar {
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: var(--transitionStyle);
}

.main {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

.stickyTop {
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);

  &>div {
    background-color: #fff;
  }
}