.layout {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);
}

.main {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}
