@import '../../styles/propertySets.css';

.root {
  position: relative;
}

.input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;

  /* Highlight the borders if the checkbox is hovered, focused or checked */
  &:hover + label .box,
  &:focus + label .box,
  &:checked + label .box {
    stroke: var(--matterColorDark);
  }

  /* successColor version */
  &:hover + label .boxSuccess,
  &:focus + label .boxSuccess,
  &:checked + label .boxSuccess {
    stroke: var(--successColor);
  }

  /* Display the "check" when checked */
  &:checked + label .checked {
    display: inline;
    stroke: var(--marketplacePrimaryColor);
    stroke-width: 1px;
  }

  /* Display the "check" when checked */
  &:checked + label .checkedSuccess {
    display: inline;
    stroke: var(--successColor);
    stroke-width: 1px;
  }

  /* Hightlight the text on checked, hover and focus */
  &:focus + label .text,
  &:hover + label .text,
  &:checked + label .text {
    color: var(--matterColorDark);
  }
}

.label {
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: var(--matterColorDark);
}

.checkboxWrapper {
  /* This should follow line-height */
  height: 14px;
  margin-top: -1px;
  margin-right: 12px;
  align-self: baseline;

  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checked {
  display: none;
  fill: var(--marketplacePrimaryColor);
}
.checkedSuccess {
  display: none;
  fill: var(--successColor);
}

.boxSuccess,
.box {
  stroke: var(--matterColorAnti);
}

.text {
}
.textRoot {
  @apply --marketplaceListingAttributeFontStyles;
  color: var(--matterColor);
  margin-top: -1px;
  margin-bottom: 1px;
  cursor: pointer;
}
.editListingCando {
  position: relative;
  & .delete {
    font-size: 23px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: 13px;
    line-height: 100%;
  }
  & .input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    &:checked {
      width: 100%;
      height: 100%;
    }
  }
  & .input:checked + label {
    & .text {
      background: #d87c66;
      border: 1px solid #d87c66;
      color: #ffffff;
    }
    & .delete {
      color: #ffffff;
    }
  }
  & .checkboxWrapper {
    display: none;
  }
  & .text {
    background: #ebe7e7;
    border: 1px solid #6b6b6b;
    border-radius: 100px;
    color: #413f3f;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 5px 14px 5px 32px;
  }
}
